name: CD - Deploy Frontend to GitHub Pages

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'

permissions:
  contents: read
  pages: write
  id-token: write

env:
  # đảm bảo base trong vite.config.ts là "/seminar_cicd_demo/" để hiển thị đúng trên Pages
  VITE_BASE_PATH: /seminar_cicd_demo/

jobs:
  build-frontend:
    name: Build Frontend
    runs-on: ubuntu-latest
    defaults: { run: { working-directory: ./frontend } }
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - run: npm ci
      - run: npm run build
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./frontend/dist

  deploy-frontend:
    name: Deploy Frontend
    needs: build-frontend
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
